html,body, div{margin:0; padding: 0;}
.main{
    padding:10px;
}
.main h1, .main p{margin: 0;}

.monitor{overflow:hidden;}

.iframe-container {
    /*
    width: 45%;
    width: 698px;
    height: 460px;
    */
    width: 608px;
    height: 410px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    float:left;
    margin-left:20px;

    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.iframe-container iframe{
    border: none;
}

#monitor::after{
    content: '';/*必须要加的*/
    display: block;
    clear: both;
}

.footer{
    min-height: 100px;
    background-color: purple;
    color:white;
    padding:10px;
    text-align: center;
}

.footer a{
    color:white;
}

.footer .light{
    color:#ff5fff88;
}