
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor of CPU and Memory Usage</title>
    <script src="/static/js/chart.js"></script>
    <style>
         .iframe-container {
            width: 45%;
            height: 460px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            float:left;
            margin-left:20px;
        }
        .iframe-container iframe{
            border: none;
        }
    </style>
</head>
<body>
    <h1>Monitor of CPU and Memory Usage</h1>
    <p>Show last 3 hours, 1 dot / 6 min.</p>
    
    <script>
        async function fetchUsageData() {
            var url='/api/usage_data';
            
            const response = await fetch(url);
            const data = await response.json();
            // 数据格式转换
            var object={
                timestamp:[],
                cpu_usage:[], 
                memory_usage:[],
                
                host_ip:[], 
                hostname:[]
            };
            for(var i=0; i<data.length; i++){
                object["timestamp"].push(data[i].timestamp)
                object["cpu_usage"].push(data[i].cpu_usage)
                object["memory_usage"].push(data[i].memory_usage)
                object["host_ip"].push(data[i].host_ip)
                object["hostname"].push(data[i].hostname)
            }
                        
            return object;
        }

        function loadFrame(data) {
            //获取uniq ip
            var unique_ip=[]
            for(var i in data.host_ip){
                var ele = data.host_ip[i];
                if(unique_ip.indexOf(ele) == -1){
                    unique_ip.push(ele)
                }
            }
            //console.log(unique_ip)
            
            //为每个设置一个frame?
            for(var i in unique_ip){
                var url=location.href+"show/"+ unique_ip[i]
                console.log(i, unique_ip[i], url)
                //
                var oDiv = document.createElement("div");
                oDiv.setAttribute("class", "iframe-container")

                //
                var oIframe = document.createElement("iframe");
                oIframe.setAttribute("src", url)
                oIframe.setAttribute("width", "100%")
                oIframe.setAttribute("height", "100%")

                oDiv.append(oIframe);
                document.body.append(oDiv)
            }
        }

        fetchUsageData().then(loadFrame);
    </script>
</body>
</html>